/* Firefox */
* {
    scrollbar-width: var(--scrollbar-width);
    scrollbar-color: var(--scrollbar-firstColor) var(--scrollbar-secondColor);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

*::-webkit-scrollbar-track {
    background: var(--scrollbar-secondColor);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-firstColor);
    border-radius: var(--scrollbar-borderRadius);
    border: var(--scrollbar-border);
}