#main-navigation-nav{
    position: fixed;
    z-index: 98;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
#main-navigation-nav .navbar-nav{
    position: fixed;
    visibility: hidden;
    top: 50%;
    margin-top: 20px;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    width: 100%;
    text-align: center;
}

#main-navigation-nav .navbar-nav .nav-item{
    position: relative;
    display: block;
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s;
    opacity: 0;
    text-align: center;
    color: #fff;
    overflow: hidden;
    -webkit-transform: translate(100px, 0%);
    transform: translate(100px, 0%);
    -webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
    transition: opacity .2s ease, -webkit-transform .3s ease;
    transition: opacity .2s ease, transform .3s ease;
    transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s;
}

#main-navigation-nav .navbar-nav .nav-item a{
    position: relative;
    text-decoration: none;
    color: rgba(255,255,255,0.6);
    overflow: hidden;
    z-index: 2;
    display: inline-block;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

#main-navigation-nav:before, #main-navigation-nav:after{
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #ffd5ce;
    z-index: -1;
    -webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
    transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
    transition-delay: 0s, 0s, 0s;
}

#main-navigation-nav:before{
    -webkit-transform: translateX(200%) translateY(0);
    transform: translateX(200%) translateY(0);
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}

#main-navigation-nav:after{
    -webkit-transform: translateX(200%) translateY(0);
    transform: translateX(200%) translateY(0);
    background: #fbc1b7;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

#main-navigation-nav.nav-active{
    visibility: visible;
}

#main-navigation-nav.nav-active:before{
    -webkit-transform: translateX(0%) translateY(0%);
    transform: translateX(0%) translateY(0%);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

#main-navigation-nav.nav-active:after{
    -webkit-transform: translateX(0) translateY(0%);
    transform: translateX(0) translateY(0%);
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
}

#main-navigation-nav.nav-active .navbar-nav .nav-item{
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
    transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
    transition: opacity .3s ease, transform .3s ease, color .3s ease;
    transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease;
    transition-delay: 0s, 0s, 0s, 0s;
}
