.container-button5 .button5 {
    position: relative;
    letter-spacing: 0.25em;
    margin: 0 auto;
    padding: 1rem 2.5rem;
    background: transparent;
    outline: none;
}

.container-button5 .button5:after,
.container-button5 .button5:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    transform: skewX(30deg);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: -2;
}

.container-button5 .button5:before {
    background-color: #ffd5ce;
    top: -25%;
    left: 0;
}

.container-button5 .button5:after {
    background-color: #fbc1b7;
    top: 25%;
    left: 45%;
}

.container-button5 .button5:hover:after,
.container-button5 .button5:hover:before {
    top: 0;
    transform: skewx(0deg);
}

.container-button5 .button5:hover:after {
    left: 0;
}

.container-button5 .button5:hover:before {
    left: 45%;
}

.container-button5 .button5 {
    text-decoration: none;
}