.container-button6{
    display: inline-block;
    position: relative;
}

.container-button6 .button6{
    padding: 10px 25px;
    background: #ffd5ce;
    color: #fff;
    position: relative;
    display: inline-block;
    border-radius: 30px;
    border: 1px solid #ffd5ce;
}

.container-button6 .particles-circle{
    position: absolute;
    background-color: #ffd5ce;
    width: 30px;
    height: 30px;
    top: 10px;
    left: 50%;
    margin-left: -15px;
    z-index: -1;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    visibility: hidden;
    border: 1px solid #ffd5ce;
    transition: all .5s;
}

.container-button6 .button6:hover{

    background-color: #fff;
    color: #ffd5ce;
    transition: all .5s;
}

.container-button6.active .particles-circle:nth-of-type(1){
    animation: particles-1 1.5s 0.025s;
}

.container-button6.active .particles-circle:nth-of-type(2){
    animation: particles-2 1.5s 0.05s;
}

.container-button6.active .particles-circle:nth-of-type(3){
    animation: particles-3 1.5s 0.075s;
}

.container-button6.active .particles-circle:nth-of-type(4){
    animation: particles-4 1.5s 0.1s;
}

.container-button6.active .particles-circle:nth-of-type(5){
    animation: particles-5 1.5s 0.125s;
}

.container-button6.active .particles-circle:nth-of-type(6){
    animation: particles-6 1.5s 0.15s;
}

.container-button6.active .particles-circle:nth-of-type(7){
    animation: particles-7 1.5s 0.175s;
}

.container-button6.active .particles-circle:nth-of-type(8){
    animation: particles-8 1.5s 0.175s;
}

.container-button6.active .particles-circle:nth-of-type(9){
    animation: particles-9 1.5s 0.175s;
}

.container-button6.active .particles-circle:nth-of-type(10){
    animation: particles-10 1.5s 0.175s;
}

.container-button6 .particles-circle:nth-of-type(2n+1){
    border: solid 2px #ffd5ce;
    background-color: transparent;
}

@keyframes particles-1 {
    0% {
        transform: scale(1);
        visibility: visible;
    }
    100% {
        left: -15px;
        top: 188px;
        transform: scale(0);
        visibility: hidden;
    }
}

@keyframes particles-2 {
    0% {
        transform: scale(1);
        visibility: visible;
    }
    100% {
        left: 58px;
        top: 161px;
        transform: scale(0);
        visibility: hidden;
    }
}

@keyframes particles-3 {
    0% {
        transform: scale(1);
        visibility: visible;
    }
    100% {
        left: 155px;
        top: 17px;
        transform: scale(0);
        visibility: hidden;
    }
}

@keyframes particles-4 {
    0% {
        transform: scale(1);
        visibility: visible;
    }
    100% {
        left: -209px;
        top: -58px;
        transform: scale(0);
        visibility: hidden;
    }
}

@keyframes particles-5 {
    0% {
        transform: scale(1);
        visibility: visible;
    }
    100% {
        left: -74px;
        top: -170px;
        transform: scale(0);
        visibility: hidden;
    }
}

@keyframes particles-6 {
    0% {
        transform: scale(1);
        visibility: visible;
    }
    100% {
        left: 999px;
        top: 48px;
        transform: scale(0);
        visibility: hidden;
    }
}

@keyframes particles-7 {
    0% {
        transform: scale(1);
        visibility: visible;
    }
    100% {
        left: 860px;
        top: -180px;
        transform: scale(0);
        visibility: hidden;
    }
}

@keyframes particles-8 {
    0% {
        transform: scale(1);
        visibility: visible;
    }
    100% {
        left: 1050px;
        top: -38px;
        transform: scale(0);
        visibility: hidden;
    }
}

@keyframes particles-9 {
    0% {
        transform: scale(1);
        visibility: visible;
    }
    100% {
        left: 960px;
        top: 235px;
        transform: scale(0);
        visibility: hidden;
    }
}

@keyframes particles-10 {
    0% {
        transform: scale(1);
        visibility: visible;
    }
    100% {
        left: 850px;
        top: 209px;
        transform: scale(0);
        visibility: hidden;
    }
}