.reveal6 {
    position: relative;
    z-index: 1;
    font-size: 38px;
    transition: height 8s;
}

.reveal6:after {
    content: "";
    background: #ffd5ce;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    pointer-events: none;
    position: absolute;
    z-index: -1;
    transition: height 8s;
}

.reveal6.active:after {
    -webkit-animation: reveal6keyframe 1s ease-in-out forwards;
    -moz-animation: reveal6keyframe 1s ease-in-out forwards;
    -o-animation: reveal6keyframe 1s ease-in-out forwards;
    animation: reveal6keyframe 1s ease-in-out forwards;
}

@keyframes reveal6keyframe {
    from {
        height: 100%;
    }

    to {
        height: 40%;
    }
}



