.reveal5 {
    position: relative;
    z-index: 1;
    font-size: 38px;
}

.reveal5:after {
    content: "";
    background: #ffd5ce;
    left: 90%;
    right: 0;
    bottom: 0;
    height: 100%;
    pointer-events: none;
    position: absolute;
    z-index: -1;
    transition: all 0.5s;
}

.reveal5:hover:after {
    left: 0;
    transition: all 0.5s;
}
